/* police et couleur du texte */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: #000000;
    background-color: #f8fbfc;
    line-height: 1.8;
}


/* theme du site */


.w3-theme-l5 {
    color: #000 !important;
    background-color: #f8fbfc !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #e9f0f6 !important
}

.w3-theme {
    color: #000 !important;
    background-color: #d3e1ee !important
}

.w3-theme {
    color: #000 !important;
    background-color: #bdd2e5 !important
}

.w3-theme-l1 {
    color: #000 !important;
    background-color: #a7c4dd !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #77a3ca !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #5d92c0 !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #4681b4 !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #3c6e9a !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #325c81 !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #f8fbfc !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #325c81 !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #325c81 !important
}

.w3-theme {
    color: #000 !important;
    background-color: #92b6d5 !important
}

.w3-text-theme {
    color: #92b6d5 !important
}

.w3-border-theme {
    border-color: #92b6d5 !important
}

.w3-hover-theme:hover {
    color: #000 !important;
    background-color: #4d81b1 !important
}

.w3-hover-text-theme:hover {
    color: #92b6d5 !important
}

.w3-hover-border-theme:hover {
    border-color: #92b6d5 !important
}

/* c'est pour le menu de navigation, la partie chorale avec le sous-menu */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    color: #000 !important;
    background-color: #4d81b1 !important
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* bleu foncé = w3-theme-d3
 * bleu claire = w3-theme
 * bleu quand on passe sur un bouton : w3-hover-theme:hover
 */